@media (min-width: 768px) {
    
    header {
        display: flex;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
        margin-left: auto;
        justify-content: space-between;
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }
    article.grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .grid-spotlights {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        padding: 1.5rem;
        box-shadow: none;
    }
    article.list .card:nth-child(odd) {
        background-color: var(--accent-color);
    }
    .card img {
        width: 150px;
        height: 120px;    
    }
    article.list .card {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    article.list .card img {
        width: 150px;
        height: 120px;
        margin-left: 5px;
    }
    article.list .card h2,
    article.list .card p,
    article.list .card a {
        margin: 0%;
        padding: 0%;
        flex: 1;   
    }
    .footer-container {
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        text-align: left;
    }
    .contact {
        justify-self: center;
        text-align: left;
    }
    .info {
        justify-self: center;
        text-align: left;  
    }
    .social img {
        width: 55px;
    } 
    .hero button {
        position: absolute;
        top: 50px;
        right: 450px;
    }
}