@media only screen and (min-width: 38rem){

    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;

    }
    .navigation {
        display: block;
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    
    }
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "title title"
            "about photo"
            "courses courses";
    }
  
    .card-about {
        grid-area: about;
    }
    
    .card-photo {
        grid-area: photo;
    }
   
    
    
    .card-courses {
        grid-area: courses;
    }
    .courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    
}